* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /* background-color: rgb(145, 145, 145); */
}

body {
    min-height: inherit;


}

dir {
    background-color: var(--color-background-base);
    cursor: pointer;
}

/* EN EL HEADER */
.cabecera {
    display: flex;
    justify-content: center;
    flex-flow: row;
    align-items: center;
    color: darkblue;
    height: 15vh;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: transparent;

}

.cajaboton {
    display: flex;
    justify-content: center;
    width: 15%;
    height: 100%;
    align-items: center;
}

.bottonMenu-cajaboton {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-style: initial;
    line-height: inherit;
    appearance: none;
    border: none;


    align-items: inherit;
    width: fit-content;
    height: fit-content;

    background-color: transparent;

    i {
        background-color: transparent;
        font-size: 2em;

    }
}

.logoTitulo {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    color: darkblue;
    height: 100%;
    width: 35%;
    z-index: 100;

}

.titulo {
    font-size: 100px;
    font-weight: 700;
    width: 100%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin: 8%, 0, 0, 0;


    a {
        color: darkblue;
        text-decoration: none;
        border-radius: 10px;
    }
}





.nav-principal {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    color: darkblue;
    width: 100%;


}

.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;


    li {
        list-style: none;

        justify-content: center;
        flex-flow: column;
        width: fit-content;

        button {
            background-color: transparent;
            appearance: none;
            border: none;

        }
    }

}

.submenu-menu {
    display: none;


}

.submenu2-menu {

    display: none;
}

.buscaCesta {
    display: flex;
    justify-content: center;
    color: darkblue;
    width: 60%;
    height: 100%;
    position: sticky;
    z-index: 100;
}

.busca-buscaCesta {
    height: 100%;
    width: 45%;
    align-items: center;
    display: flex;

    input {
        width: 100%;
        height: 20%;
    }
}

.nav-secundario {
    display: flex;
    width: 50%;
    justify-content: space-evenly;

}

.soporte {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-flow: row;
    margin: 10%;

  
    li {
        list-style: none;

        a {
            text-decoration: none;

            button {
                background-color: transparent;
                appearance: none;
                border: none;
            }
        }
    }

}


/* EN EL MAIN */
.contenedor {
    display: flex;
    /* background-color: yellowgreen; */
    height: 110vh;
    width: 100%;
    flex-flow: column;
    position: relative;


}

.principal {
    height: 100%;
    width: 100%;
    position: absolute;


}

/* EN EL FOOTER */
.pie {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    position: relative;
    top: 80%;
    color: darkblue;
    font-weight: 200;
    font-size: large;
    height: 10vh;
    width: 100%;
}

.section3-pie {
    display: flex;
    justify-content: center;
    flex-flow: column;

    ul {
        display: flex;

        li {
            list-style: none;
        }
    }
}

.section4-pie {
    display: flex;
    justify-content: center;
    flex-flow: row;

    form {
        display: flex;
        flex-flow: column;


    }
}

#email {
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    border: 1px solid rgb(0, 0, 0);
    width: max-content;
    height: fit-content;
}

#toma {
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    border: 1px solid rgb(0, 0, 0);
    width: fit-content;
    height: fit-content;
}

i {
    cursor: pointer;
    font-size: x-large;
    color: darkblue;
    font-weight: 200;

}